<!DOCTYPE html>
<html>
<head>
	<title>about</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<!-- Custom Font - Change 'Muli' to the font you want -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Sumana" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="datadumper.js"></script>
<script type="text/javascript" src="rivescript.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
</head>
<body>
<div class="container-fluid" id="divmargin">
	<div class="wrapper">
			<div class="row">
            	<div class="section" data-background-color="#889EFA">
                	<div class="col-xs-1">
      				</div>
      			<div class="col-lg-10 text-center" id="text">
      			<div><h4>ABOUT</h4></div>
      			<div><img src = "img/Yummy.png" width="200" height ="120"/></div>
      			<h3>This project is an exploration of my habits when buying food. I tracked all my grocery purchases made in the past 2 months and entered them into the database to make the visualization. The size of each ellipse is equal to the calorie amount of each grocery item per serving. Icons are designed by the Noun Project. For the chatbot I used the Rive platform.</h3>
      			 </div>
      			
      			<div class="col-xs-1">
      			</div>
      			</div>
      			</div>
      		</div>
 	</div>
 </div>

</body>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2542/in-view.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="js/main.js"></script>
</html>