<form action="/api/create" method="POST">
  Name:<br>
  <input type="text" name="name" placeholder="Enter Name"><br>
  Type:<br>
  <input type="text" name="type" placeholder="Enter Type"><br>
  Calories:<br>
  <input type="text" name="calories" placeholder="Enter Calories"><br>
  Protein:<br>
  <input type="text" name="protein" placeholder="Enter Protein"><br>
  Carbohydrates:<br>
  <input type="text" name="carbohydrates" placeholder="Enter Carbohydrates"><br>
  Fat:<br>
  <input type="text" name="fat" placeholder="Enter Fat"><br>
  URL:<br>
  <input type="text" name="url" placeholder="Enter URL"><br>

  <input type="submit" value="Submit">
</form>